<head>
  <script src="https://www.paypal.com/sdk/js?client-id=AchF1jNbirLZYtTKp3B-U59pKAHGfA06QFxwfw3tYD7AqrC2kaliPoRsHKg8IceiuDjEGi2NOfs_Vqs7"></script>

<!-- Load the client component. -->
  <script src="https://js.braintreegateway.com/web/3.51.0/js/client.min.js"></script>

  <!-- Load the PayPal Checkout component. -->
  <script src="https://js.braintreegateway.com/web/3.51.0/js/paypal-checkout.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron">
      <h1>PayPal JS SDK</h1>
    </div>
  </div>
  <script>

  var nonce = document.getElementById('payment_method_nonce');

     braintree.client.create({
       authorization: 'sandbox_9qpx3yqx_6fwrg6ccn34c95qj'
     }).then(function (clientInstance) {
       return braintree.paypalCheckout.create({
         client: clientInstance
       });
     }).then(function (paypalCheckoutInstance) {
       return paypal.Buttons({
         style: {
           layout:  'vertical',
           color:   'blue',
           shape:   'rect',
           label:   'paypal'
     },
       createOrder: function () {
         return paypalCheckoutInstance.createPayment({
           flow: 'checkout',
           currency: 'USD',
           amount: '10.00',
           intent: 'capture' // this value must either be `capture` or match the intent passed into the PayPal SDK intent query parameter
           // your other createPayment options here
         });
       },

       onApprove: function (data, actions) {
         // some logic here before tokenization happens below
         return paypalCheckoutInstance.tokenizePayment(data).then(function (payload) {
           serverSubmit(payload);
           // Submit payload.nonce to your server
         });
       },

       onCancel: function () {
         // handle case where user cancels
       },

       onError: function (err) {
         // handle case where error occurs
       }
     }).render('#paypal-button');
   }).catch(function (err) {
    console.error('Error!', err);
   });

   function serverSubmit(payload) {
     $('#payment_method_nonce').val(payload.nonce);
     console.log(JSON.stringify(payload));
     alert(JSON.stringify(payload));
     document.getElementById("paypal_form").submit();
   }
  </script>
  <div id="paypal_form" action="/checkout" role="form">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
       <div id="paypal-button"></div>
    <div class="col-md-4"></div>
    <input type="hidden" id="payment_method_nonce" name="payment_method_nonce" value="payment_method_nonce">
  </div>
</body>
